.page-active-campaign .title {
  display:none;
}

.page-active-campaign .content {
  margin-top:0;
}

.active_campaign_table thead tr th {
  background-color:#DEE7EF;
  border-bottom-color:#D0DBE5;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#DEE7EF;
  border-left-style:solid;
  border-left-width:1px;
  border-top-color:#DEE7EF;
  border-top-style:solid;
  border-top-width:1px;
  color:#666666;
  padding:5px;
}

.active_campaign_table tbody tr td,
.active_campaign_results tbody tr td {
  background:#fff;
  border-bottom-color:#D6D6D6;
  border-bottom-style:solid;
  border-bottom-width:1px;
  padding:10px;
}

.summary-item {
  margin-right:35px; 
  display:inline-block;
}

.summary-value {
  font-size:19px;
  margin-right:10px;
}

.cmain-general-info .campaign-breadcrumb {
  display:block;
  color:#999999;
  margin-bottom:10px;
  border-bottom-color:#CCCCCC;
  border-bottom-style:solid;
  border-bottom-width:1px;
}

.campaign-menu-container {
  background:#eee;
}

.campaign-menu-item {
  padding:10px; 
  display:inline-block;
}

.overview-container {
  border:1px solid #E3E2DE; 
  background:#fff; 
  margin-bottom:20px;
}

.overview-inner-container {
  padding:15px;
}

.campaign-fieldset {
  padding:10px;
  background:#fff;
}

.legend {
  background-color:#F6F6F6;
  padding:10px;
  margin:0.5em 0;
}

.campaign-preview {
  height:300px;
  overflow-y:scroll;
}

.campaign-left {
  float:left; 
  width:59%;
  margin-right:1%;
}

.campaign-right {
  float:left; 
  width:39%;
}

.active_campaign_campaigns .campaign-thumb {
  max-height:100px;
  padding:5px;
}

.not-found {
  background:#FFFFCD;
  border-bottom-color:#DEE029;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-top-color:#DEE029;
  border-top-style:solid;
  border-top-width:1px;
  color:#523800;
  font-size:13px;
  margin:10px 0;
  padding:10px 0;
  text-align:center;
  width:100%;
}

.cmain-create {
  -moz-box-shadow:inset 0px 1px 0px 1px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 1px #ffffff;
  box-shadow:inset 0px 1px 0px 1px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
  background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
  background-color:#f9f9f9;
  -webkit-border-top-left-radius:3px;
  -moz-border-radius-topleft:3px;
  border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -moz-border-radius-topright:3px;
  border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  -moz-border-radius-bottomright:3px;
  border-bottom-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-bottomleft:3px;
  border-bottom-left-radius:3px;
  text-indent:0px;
  border:1px solid #dcdcdc;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  margin:0 0 15px;
  padding:10px 0;
  width:100px;
}

.cmain-create a {
  color:#666666;
  text-decoration:none;
}

.cmain-create:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
  background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
  background-color:#e9e9e9;
}

.cmain-create:active {
  position:relative;
  top:1px;
}

.cmain-menu-action-link {
  display:inline-block;
  margin-right:15px;
}

.cmain-action {
  border-right:1px solid #C6C6C6;
  padding:0 10px;
}

.action-first {
  padding:0 10px 0 0;
}

.action-last {
  border-right:none;
}

.center {
  text-align:center;
}

.campaign-title h1 {
  display:block;
  font-size:1.85em;
  line-height:inherit;
  margin:0;
  padding:0 0 10px;
}

.cmain-menu-container {
  background:#F2F2F2;
  border-bottom:1px solid #D0D0D0;
  border-top:3px solid #C4C4C4;
  padding:0;
  width:100%;
}

.cmain-menu-item {
  display:inline-block;
  padding:10px 0;
  text-align:center;
  width:33%;
}

.cmain-general-info,
.cmain-pricing-info {
  vertical-align:top;
  display:inline-block;
  padding:1.25%;
  width:45%;
}

.cmain-general-info h2,
.cmain-pricing-info h2,
.cmain-page-header h2 {
  border-bottom:2px solid #D3D3D3;
  padding:0 0 5px;
}

.cmain-general-info .cmain-general-info-item,
.cmain-pricing-info .cmain-pricing-info-item {
  font-size:1.1em;
  padding:4px;
}

.cmain-general-info .cmain-general-info-label {
  font-weight:bold;
}

.cmain-pricing-info .cmain-pricing-info-amount {
  background:#EFEFEF;
  border:1px solid #CECECE;
  border-radius:3px;
  padding:4px;
}

.cmain-cancel-delete{
  margin:10px 50px 0 0;
}

.cmain-confirm-delete {
  margin:10px 0 0 50px;
}

.form-submit {
  font-size:1em;
  padding:10px;
}

.table-info-view {
  margin-bottom:10px;
  float:left;
}

/**
 * Data Table CSS Positioning
 */
.tablesorter {
  margin-bottom:10px;
}

.tablesorter th {
  cursor: pointer;
}

.dataTables_wrapper .dataTables_filter {
  float:right;
  margin-right:20px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_paginate {
  float:right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button  {
  margin:3px;
  padding:3px;
  cursor:pointer;
}